{% extends 'eCommerce/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h2>Create New Account</h2>

    {% if messages %}
        {% for message in messages %}
            <p style="color: red; font-weight: bold;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br><br>
        <button type="submit" style="padding: 12px 25px; font-size: 16px;">Register</button>
    </form>

    <p>Already have an account? <a href="{% url 'grabsomore:login' %}">Login here</a></p>
{% endblock %}